.login-container {
    height: 500px;
    color: #6C757D;

}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.log-in {
    padding: 25px;
    padding-bottom: 0;
    border-radius: 10px;
    background-color: white;
}

.register-now {
    color: blue;
}